@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F7F7F7;
    font-family: 'Roboto', sans-serif;
}

textarea {
    resize: none;
}

a {
    text-decoration: none;
    color: inherit;
}

#navbar {
    padding: 10px;
    background-color: white;
    height: 50px;
    font-family: 'Montserrat', sans-serif;
}

#navbar .navbar-logo {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 10rem;
}

#navbar .logo-icon {
    border: 1px solid black;
    width: 32px;
    height: 30px;
    padding: 5px;
    background-color: #F7F7F7;
    margin-right: 5px;
}

#navbar .logo-title h5{
    color: #82A70C;
}

#navbar .logo-title h5:nth-child(2){
    color: #42515F;
}


/**************************************************Main *********************************************************/

#container{
    padding: 3rem 10rem 3rem 10rem;
}

#container .top-section {
    display: flex;
    justify-content: space-between;
}

#container .top-section h2 {
    text-align: left;
    font: normal normal bold 28px/37px Roboto;
    letter-spacing: 0px;
    color: #42515F;
    text-transform: capitalize;
    opacity: 1;
}

#container .button-group {
    display: flex;
    align-items: center;
}

#container .search-btn button{
    border: none;
    box-shadow: 0px 1px 3px #00000029;
    border-radius: 28px;
    background-color: white;
    width: 70px;
    padding: 10px;
    margin-right: 10px;
}

#container .add-btn button {
    border: none;
    padding: 5px 20px;
    background-color: #82A70C;
    color: white;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

#container .add-btn button i {
    margin: 5px;
}

/********************************************************* Table section *************************************************/

.table-section {
    margin-top: 20px;
    overflow-x: auto;
}

.table-section table {
    width: 100%;
    border-collapse: collapse;
}

td img {
    border-radius: 50%;
}

.table-section table tr {
    font-size: 14px;
    text-align: left;
}

.table-section table th{
    color: white;
    background-color: #42515F;
    padding: 15px;
}

tbody tr {
    border: 1px solid #E3E3E3;
}

tbody td{
    padding: 10px 15px 5px;
    background-color: white;
}

td .actions {
    margin-left: 10px;
    color: #658292;
    cursor: pointer;
}

.department-data {
    color: #3D3D3D;
}

.department-data span {
    background-color: #E9FEA5;
    border-radius: 26px;
    font-size: 12px;
    padding: 5px 15px 5px 15px;
}


.fa-trash-can:hover {
    color: lightcoral;
}

.fa-pen:hover {
    color: lightskyblue;
}

/*********************************************************Responsive section ************************************************/

@media (max-width: 900px) {
    #container {
        padding: 10px;
    }
    .actions {
        display: flex;
    }
    .department-data {
        display: flex;
    }
}

@media (max-width:600px) {
    th, td {
        font-size: 12px;
        padding: 5px;
    }
}

@media (max-width: 400px) {
    #navbar .navbar-logo {
        margin-left: 0;
    }
    #container {
        padding: 0;
        margin-top: 15px;
    }
    #container .top-section h2 {
        font-size: 16px;
        margin: 10px;
    }
    #container .search-btn button{
        padding: 10px;
        margin-right: 10px;
        width: 50px;
    }
    #container .add-btn button {
        font-size: 14px;
        margin-right: 10px;
    }
}
